# Causal Inference Homework 3
## Alex Pine (akp258@nyu.edu)
## February 26th

### 1a 
Perfect randomization, so ATE $= E[Y^1] - E[Y^0] = 1 - 0.5 = 0.5$

### 1b

The asymptotic value of $E[Y^1]$ and $E[Y^0]$ do not change are not dependent on the exact size of the population. If 10% of students from both the control and treatment groups leave the program, we can treat them as if there were never in the program to begin with.  Since our estimation of ATE is based on the expected values of $Y^0$ and $Y^1$ of the population, 10% random attrition has no effect.

### 1c

If students leave the program when their potential scores are greater than 1.6, then that puts an upper bound on $Y^0$ and $Y^1$. Since $Y^0$ was already bounded from above by 1, only $Y^2$ is affected. Now, $Y^1 \sim ([0,1.6])$.

ATE $= E[Y^1] - E[Y^0] = 0.8 - 0.5 = 0.3 $

### 1d

If the top 20% leave the program, then $Y^1 \sim U([0, 1.6])$ and $Y^0 \sim U([0, 0.8])$.

ATE $= E[Y1] - E[Y0] = \frac{1.6}{2} - \frac{0.8}{2} = 0.8 - 0.4 = 0.4$.

# Problem 2

Reducing the data down to only those who were in the same class size for all four years:

In [56]:
data = read.csv("/Users/pinesol/causal/hw3/krueger.csv")
# Take out the nas. Leaves only 3085 rows out of 11598
data = data[complete.cases(subset(data, select=c('cltypek', 'cltype1', 'cltype2', 'cltype3'))),]
# Make sure the four class columns all have the same value in each row
data = data[data$cltypek == data$cltype1 | data$cltypek == data$cltype2 | data$cltypek == data$cltype3,]

# Remove NAs from scores
scores = data[c('tmathssk', 'tmathss1', 'tmathss2', 'tmathss3', 'treadssk', 'treadss1', 'treadss2', 'treadss3')]
data[c('tmathssk', 'tmathss1', 'tmathss2', 'tmathss3', 'treadssk', 'treadss1', 'treadss2', 'treadss3')][is.na(scores)] <- 0

Computing the percentile scores for the students who were in in 'regular' or 'regular + aide' sized classes:

In [68]:
# ... for each grade, compute the percentile(ranging from 0 to 100) using only students 
# in regular and regular with aide class types.
percentile <- function(scores) {
    return(100 * rank(scores) / length(scores))
}

reg_rows = data[data['cltypek']  == 'regular class' | data['cltypek']  == 'regular + aide class',]

reg_math_k = percentile(reg_rows[['tmathssk']])
reg_read_k = percentile(reg_rows[['treadssk']])
reg_avg_k = (reg_math_k + reg_read_k) / 2
reg_math_1 = percentile(reg_rows[['tmathss1']])
reg_read_1 = percentile(reg_rows[['treadss1']])
reg_avg_1 = (reg_math_1 + reg_read_1) / 2
reg_math_2 = percentile(reg_rows[['tmathss2']])
reg_read_2 = percentile(reg_rows[['treadss2']])
reg_avg_2 = (reg_math_2 + reg_read_2) / 2
reg_math_3 = percentile(reg_rows[['tmathss3']])
reg_read_3 = percentile(reg_rows[['treadss3']])
reg_avg_3 = (reg_math_3 + reg_read_3) / 2

Computing the percentile score for students in small classes using the percentile distribution for the students in large classes:

In [ ]:
# "Compute percentile score for students in small classes using the percentiles just computed".

small_percentiles <- function(small_scores, reg_scores) {
    small_percs = vector("list", length(small_scores))
    for (i in 1:length(small_scores)) {
        perc = 100*length(reg_scores[reg_scores <= small_scores[[i]]]) / length(reg_scores)
        small_percs[[i]] = perc
    }
    return(unlist(small_percs))
}

small_rows = data[data['cltypek']  == 'small class',]

small_math_k = small_percentiles(small_rows[['tmathssk']], reg_rows[['tmathssk']])
small_read_k = small_percentiles(small_rows[['treadssk']], reg_rows[['treadssk']])
small_avg_k = (small_math_k + small_read_k) / 2
small_math_1 = small_percentiles(small_rows[['tmathss1']], reg_rows[['tmathss1']])
small_read_1 = small_percentiles(small_rows[['treadss1']], reg_rows[['treadss1']])
small_avg_1 = (small_math_1 + small_read_1) / 2
small_math_2 = small_percentiles(small_rows[['tmathss2']], reg_rows[['tmathss2']])
small_read_2 = small_percentiles(small_rows[['treadss2']], reg_rows[['treadss2']])
small_avg_2 = (small_math_2 + small_read_2) / 2
small_math_3 = small_percentiles(small_rows[['tmathss3']], reg_rows[['tmathss3']])
small_read_3 = small_percentiles(small_rows[['treadss3']], reg_rows[['treadss3']])
small_avg_3 = (small_math_3 + small_read_3) / 2

Wrote a function to merge the percentile scores regular and small class sizes together so their order matches the order from the original data frame. I'm sure R has a way to do this, but I could not figure it out.

In [94]:
merge_by_index <- function(a, b, a_index, b_index) {
    merged = c()
    i = 1
    j = 1
    while(i <= length(a_index) && j <= length(b_index)) {
        if (a_index[i] < b_index[j]) {

            merged = c(merged, a[i])
            i = i + 1
        } else {
            merged = c(merged, b[j])
            j = j + 1
        }
    }
    if (i <= length(a_index)) {
        merged = c(merged, a[i:length(a)])
    }
    if (j <= length(b_index)) {
        merged = c(merged, b[j:length(b)])
    } 
    return(merged)
}

merge_scores <- function(reg_scores, small_scores) {
    reg_index = as.numeric(row.names(reg_rows))
    small_index = as.numeric(row.names(small_rows))
    return(merge_by_index(reg_scores, small_scores, reg_index, small_index))
}

In [97]:
merged_k_scores = merge_scores(reg_avg_k, small_avg_k)
merged_1_scores = merge_scores(reg_avg_1, small_avg_1)
merged_2_scores = merge_scores(reg_avg_2, small_avg_2)
merged_3_scores = merge_scores(reg_avg_3, small_avg_3)

Making the class size column into a dummy variable:

In [101]:
# Combining 'regular class' and 'regular + aide' class into one value for regression
combined_data = data
combined_data[combined_data == 'regular + aide class']  <- 'regular class'
size_factor = factor(combined_data[['cltypek']])

In [110]:
lm(merged_k_scores ~ size_factor)
lm(merged_1_scores ~ size_factor)
# TODO other grades

Call:
lm(formula = merged_k_scores ~ size_factor)

Coefficients:
           (Intercept)  size_factorsmall class
                50.045                   7.413

Call:
lm(formula = merged_1_scores ~ size_factor)

Coefficients:
           (Intercept)  size_factorsmall class
                50.045                   9.282

In [108]:
# TODO add fixed effects

#schidkn, schid1n

      newid  ssex   srace sbirthq                  sbirthy stark star1 star2
2     1137   female white 1st qtr - jan,feb,march  1980    yes   yes   yes
3     1143   female black 4th qtr - oct,nov,dec    1979    yes   yes   yes
11    1277   male   white 2nd qtr - april,may,june 1980    yes   yes   yes
12    1292   male   white 2nd qtr - april,may,june 1980    yes   yes   yes
13    1308   male   white 2nd qtr - april,may,june 1980    yes   yes   yes
21    1441   female white 1st qtr - jan,feb,march  1980    yes   yes   yes
23    1465   female black 3rd qtr - july,aug,sept  1980    yes   yes   yes
25    1499   female white 3rd qtr - july,aug,sept  1980    yes   yes   yes
28    1552   male   white 1st qtr - jan,feb,march  1980    yes   yes   yes
29    1561   male   white 3rd qtr - july,aug,sept  1980    yes   yes   yes
32    1617   male   white 1st qtr - jan,feb,march  1980    yes   yes   yes
33    1632   male   white 1st qtr - jan,feb,march  1980    yes   yes   yes
34    1641   male   white 3rd qtr - july,aug,sept  1979    yes   yes   yes
39    1725   female white 2nd qtr - april,may,june 1980    yes   yes   yes
48    1873   male   white 1st qtr - jan,feb,march  1980    yes   yes   yes
52    1934   male   black 2nd qtr - april,may,june 1980    yes   yes   yes
68    2193   female black 1st qtr - jan,feb,march  1980    yes   yes   yes
77    2336   female white 1st qtr - jan,feb,march  1980    yes   yes   yes
78    2350   female white 2nd qtr - april,may,june 1980    yes   yes   yes
81    2393   male   white 3rd qtr - july,aug,sept  1979    yes   yes   yes
84    2439   female white 4th qtr - oct,nov,dec    1980    yes   yes   yes
87    2486   female black 4th qtr - oct,nov,dec    1979    yes   yes   yes
93    2591   male   white 1st qtr - jan,feb,march  1980    yes   yes   yes
98    2669   female black 2nd qtr - april,may,june 1980    yes   yes   yes
100   2701   female white 2nd qtr - april,may,june 1980    yes   yes   yes
102   2730   female white 3rd qtr - july,aug,sept  1980    yes   yes   yes
113   2904   female white 4th qtr - oct,nov,dec    1979    yes   yes   yes
117   2972   male   black 2nd qtr - april,may,june 1980    yes   yes   yes
119   3008   female white 1st qtr - jan,feb,march  1980    yes   yes   yes
121   3035   female black 3rd qtr - july,aug,sept  1980    yes   yes   yes
⋮     ⋮      ⋮      ⋮     ⋮                        ⋮       ⋮     ⋮     ⋮
11454 184412 male   black 2nd qtr - april,may,june 1980    yes   yes   yes
11457 184463 female white 1st qtr - jan,feb,march  1980    yes   yes   yes
11458 184470 female white 4th qtr - oct,nov,dec    1979    yes   yes   yes
11470 184670 female black 2nd qtr - april,may,june 1980    yes   yes   yes
11475 184745 female white 3rd qtr - july,aug,sept  1980    yes   yes   yes
11476 184762 female white 3rd qtr - july,aug,sept  1980    yes   yes   yes
11479 184810 male   white 3rd qtr - july,aug,sept  1979    yes   yes   yes
11480 184822 female white 4th qtr - oct,nov,dec    1979    yes   yes   yes
11481 184839 male   black 4th qtr - oct,nov,dec    1979    yes   yes   yes
11485 184909 male   white 2nd qtr - april,may,june 1980    yes   yes   yes
11486 184924 female white 2nd qtr - april,may,june 1980    yes   yes   yes
11502 185181 female black 2nd qtr - april,may,june 1980    yes   yes   yes
11508 185279 female black 1st qtr - jan,feb,march  1980    yes   yes   yes
11510 185307 male   black 3rd qtr - july,aug,sept  1980    yes   yes   yes
11515 185387 female white 3rd qtr - july,aug,sept  1980    yes   yes   yes
11525 185547 female black 3rd qtr - july,aug,sept  1980    yes   yes   yes
11531 185649 male   white 1st qtr - jan,feb,march  1980    yes   yes   yes
11541 185798 female white 4th qtr - oct,nov,dec    1979    yes   yes   yes
11548 185915 female white 3rd qtr - july,aug,sept  1980    yes   yes   yes
11562 186139 female white 3rd qtr - july,aug,sept  1980    yes   yes   yes
11569 186246 male   black 4th qtr - oct,nov,dec    1979    yes   yes   yes
11577 186379 male   white 3rd qtr - july,aug,sept  1980    yes   yes   yes
11578 186400 male   black 1st qtr - jan,feb,march  1980    yes   yes   yes
11586 186518 female white 4th qtr - oct,nov,dec    1979    yes   yes   yes
11591 186604 male   white 2nd qtr - april,may,june 1980    yes   yes   yes
11593 186634 male   white 3rd qtr - july,aug,sept  1980    yes   yes   yes
11594 186650 male   white 3rd qtr - july,aug,sept  1979    yes   yes   yes
11595 186665 female white 3rd qtr - july,aug,sept  1980    yes   yes   yes
11597 186705 female black 1st qtr - jan,feb,march  1980    yes   yes   yes
11598 186718 male   black 2nd qtr - april,may,june 1980    yes   yes   yes
      star3 cltypek              ⋯ clad3                           totexp3
2     yes   small class          ⋯ apprentice                       1
3     yes   small class          ⋯ ladder level 1                   4
11    yes   regular class        ⋯ ladder level 1                   7
12    yes   small class          ⋯ ladder level 1                  14
13    yes   regular class        ⋯ ladder level 1                   8
21    yes   regular class        ⋯ ladder level 1                  13
23    yes   small class          ⋯ ladder level 1                  14
25    yes   small class          ⋯ chose no to be on career ladder 24
28    yes   regular class        ⋯ ladder level 1                   3
29    yes   regular + aide class ⋯ level 3                         12
32    yes   small class          ⋯ ladder level 1                   6
33    yes   small class          ⋯ level 3                         13
34    yes   regular + aide class ⋯ chose no to be on career ladder 15
39    yes   small class          ⋯ apprentice                       2
48    yes   small class          ⋯ ladder level 1                  13
52    yes   regular + aide class ⋯ level 3                         14
68    yes   small class          ⋯ ladder level 1                  13
77    yes   small class          ⋯ ladder level 1                   4
78    yes   small class          ⋯ ladder level 1                   8
81    yes   small class          ⋯ ladder level 1                  36
84    yes   regular class        ⋯ ladder level 1                  13
87    yes   regular + aide class ⋯ chose no to be on career ladder  3
93    yes   small class          ⋯ ladder level 1                   5
98    yes   regular class        ⋯ level 2                          9
100   yes   small class          ⋯ chose no to be on career ladder 21
102   yes   small class          ⋯ ladder level 1                  10
113   yes   regular class        ⋯ apprentice                       1
117   yes   regular + aide class ⋯ ladder level 1                  14
119   yes   small class          ⋯ ladder level 1                  16
121   yes   small class          ⋯ ladder level 1                  24
⋮     ⋮     ⋮                    ⋱ ⋮                               ⋮
11454 yes   regular + aide class ⋯ ladder level 1                  20
11457 yes   small class          ⋯ ladder level 1                  15
11458 yes   regular + aide class ⋯ probation                       16
11470 yes   small class          ⋯ ladder level 1                   7
11475 yes   regular + aide class ⋯ ladder level 1                  15
11476 yes   small class          ⋯ ladder level 1                   4
11479 yes   small class          ⋯ ladder level 1                   3
11480 yes   small class          ⋯ probation                        2
11481 yes   small class          ⋯ NA                              NA
11485 yes   small class          ⋯ apprentice                       2
11486 yes   small class          ⋯ ladder level 1                  14
11502 yes   regular + aide class ⋯ ladder level 1                   4
11508 yes   regular + aide class ⋯ ladder level 1                  18
11510 yes   regular + aide class ⋯ level 2                         11
11515 yes   small class          ⋯ ladder level 1                  18
11525 yes   small class          ⋯ ladder level 1                   9
11531 yes   regular + aide class ⋯ ladder level 1                  30
11541 yes   regular + aide class ⋯ ladder level 1                  21
11548 yes   regular class        ⋯ ladder level 1                  21
11562 yes   regular class        ⋯ ladder level 1                  19
11569 yes   small class          ⋯ ladder level 1                   7
11577 yes   small class          ⋯ ladder level 1                  14
11578 yes   regular + aide class ⋯ level 2                         28
11586 yes   small class          ⋯ ladder level 1                   8
11591 yes   small class          ⋯ ladder level 1                  19
11593 yes   small class          ⋯ ladder level 1                  15
11594 yes   small class          ⋯ ladder level 1                  17
11595 yes   regular class        ⋯ chose no to be on career ladder  7
11597 yes   regular class        ⋯ probation                       12
11598 yes   regular + aide class ⋯ ladder level 1                  33
      sysidkn sysid1n sysid2n sysid3n schidkn schid1n schid2n schid3n
2     30      30      30      30      63      63      63      63
3     11      11      11      11      20      20      20      20
11    35      35      35      35      69      69      69      69
12    41      41      41      41      79      79      79      79
13     4       4       4       4       5       5       5       5
21    24      24      41      41      56      56      78      78
23     8       8       8       8      11      11      11      11
25    32      32      32      32      66      66      66      66
28    14      14      14      14      38      38      38      38
29    35      35      35      35      69      69      69      69
32    18      18      18      18      43      43      43      43
33    36      36      36      36      71      71      71      71
34    22      22      22      22      52      52      52      52
39    40      40      40      40      76      77      77      77
48    26      26      26      26      59      59      59      59
52    11      11      11      11      27      27      27      27
68     4       4       4       4       5       5       5       5
77    16      16      16      16      40      40      40      40
78     6       6       6       6       9       9       9       9
81     7       7       7       7      10      10      10      10
84    42      42      42      42      80      80      80      80
87    11      11      11      11      28      28      28      28
93    17      17      17      17      41      41      41      41
98    11      11      11      11      27      27      27      27
100   11      11      11      11      21      21      21      21
102    6       6       6       6       8       8       8       8
113   19      19      19      19      47      47      47      47
117    8       8       8       8      11      11      11      11
119   12      12      12      12      35      35      34      34
121   11      11      11      11      24      24      24      24
⋮     ⋮       ⋮       ⋮       ⋮       ⋮       ⋮       ⋮       ⋮
11454 11      11      11      11      22      22      22      22
11457 29      29      29      29      62      62      62      62
11458 42      42      42      42      80      80      80      80
11470 11      11      11      11      33      33      33      33
11475 34      34      34      34      68      68      68      68
11476 31      31      31      31      65      65      65      65
11479 15      15      15      15      39      39      39      39
11480 33      33      33      33      67      67      67      67
11481 11      11      11      11      23      23      23      23
11485 42      42      42      42      80      80      80      80
11486 41      41      41      41      78      78      78      78
11502 11      11      11      11      27      27      27      27
11508 11      11      11      11      33      33      33      33
11510 18      18      18      18      45      45      45      45
11515 24      24      24      24      57      57      57      57
11525 11      11      11      11      20      20      20      20
11531  1       1       1       1       1       1       1       1
11541 17      17      17      17      41      41      41      41
11548  3       3       3       3       3       3       3       3
11562 39      39      39      39      75      75      75      75
11569 11      11      11      11      33      33      33      33
11577 41      41      41      41      79      79      79      79
11578 11      11      11      11      20      20      20      20
11586 37      37      37      37      73      73      73      73
11591 25      25      25      25      58      58      58      58
11593 29      29      29      29      62      62      62      62
11594 21      21      21      21      49      49      49      49
11595 33      33      33      33      67      67      67      67
11597 11      11      11      11      22      22      22      22
11598 11      11      11      11      32      32      32      32